<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mochi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mochi"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project247">
        <activity
            android:name=".DictionaryActivity.DictionaryActivity"
            android:exported="false" />
        <activity
            android:name=".TopicListActivity.TopicListActivity"
            android:exported="false" />
        <activity
            android:name=".LearningActivity.LearningActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewActivity.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".LeaderActivity.LeaderActivity"
            android:exported="false" />
        <activity
            android:name=".ScoreActivity.ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity.QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".ConversationActivity.ConversationListActivity"
            android:exported="false" />
        <activity
            android:name=".ConversationActivity.ConversationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".PlacementTestActivity.PlacementTestActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Project247.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivity.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Project247" />
    </application>

</manifest>